---
title: Team
layout: page
permalink: /team/
---
<!-- PI -->
<h2 class="mb-3"><a id="principal investigator"></a>Principal Investigator</h2>

{% assign members = site.posts | where: 'category', 'principal investigator' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- Staff -->
<h2 class="mb-3"><a id="staff"></a>Staff</h2>

{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- PhD Students -->
<h2 class="mb-3"><a id="phd student"></a>PhD Students</h2>

{% assign members = site.posts | where: 'category', 'phd-student' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- Master Students -->
<h2 class="mb-3"><a id="master student"></a>Master Students</h2>

{% assign members = site.posts | where: 'category', 'master-student' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>

<!-- Undergrad Students -->
<!-- <h2 class="mb-3"><a id="undergrad student"></a>Undergraduate Students</h2>

{% assign members = site.posts | where: 'category', 'undergrad-student' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul> -->

<!-- Alumni -->
<h2 class="mb-3"><a id="alumni"></a>Alumni</h2>
<h4 class="mb-3"><a id="Former Master Students"></a>Former Master Students</h4>

{% assign members = site.posts | where: 'category', 'alumni-master' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</ul>

<!-- Add space or divider here -->
<hr> <!-- Add a horizontal line -->
<!-- or -->
<div style="height: 20px;"></div> <!-- Add 20 pixels of vertical space -->

<h4 class="mb-3"><a id="Former Undergrad Students"></a>Former Undergrad Students</h4>           
            
{% assign members = site.posts | where: 'category', 'alumni-undergrad' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</ul>

