body {
    font-family: Arial, sans-serif;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 800px; /* Set the maximum width of the slideshow */
    max-height: 650px;
    margin: auto;
    overflow: hidden; /* Hide overflow to prevent photo dimensions from affecting container size */
}

/* Slides */
.mySlides {
    display: none;
}

/* Make images responsive inside slides */
.mySlides img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}



/* Navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better visibility */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background color on hover */
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
