/* Container for the slideshow */
.slideshow-container {
    position: relative;
    width: 770px; /* Fixed width */
    height: 578px; /* Fixed height */
    margin: auto;
    overflow: hidden; /* Hide overflow */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Slides */
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Make images responsive inside slides */
.mySlides img {
    max-width: 100%; /* Ensure the image fits within the width of the container */
    max-height: 100%; /* Ensure the image fits within the height of the container */
    width: auto;
    height: auto;
    object-fit: contain; /* Ensure the entire image fits within the container without distortion */
}

/* Navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center the buttons vertically */
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better visibility */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background color on hover */
}

/* Remove dots (indicators) */
.dot {
    display: none;
}
