<header class="site-header" role="banner">
    <nav class="navbar navbar-expand-sm navbar-light px-0">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">{{ site.title }}</a>

        <!-- Navbar toggler button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
            <ul class="navbar-nav">
<!--                 change class from "nav-item" to "nav-item custom-nav-item" -->
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="/publications">Publications</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="/presentations">Presentations</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="/teaching">Teaching</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="/outreach">Outreach</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                </li>
            </ul>
        </div>

        <!-- Move the dark mode toggle button outside of the collapse div -->
        <button id="darkModeToggle" class="btn btn-link nav-link d-sm-none d-md-block">
            <i class="fas fa-moon" style="font-size: 15px; color: gba(0,0,0,0.5);"></i>
        </button>
        
    </nav>

</header>
